@model IEnumerable<RSSReader2.Models.Article>

@{
    ViewData["Title"] = "Články";
}

<h1>Články</h1>


@await Html.PartialAsync("PartialDateFilter.cshtml")



<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.PubDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(ViewData["Articles"] != null){
    foreach (var item in ViewData["Articles"] as IEnumerable<RSSReader2.Models.Article>) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td> <a href=@item.Link>
                @item.Link</a>
            </td>            
                @if(@item.PubDate != null){
                        <td>@item.PubDate</td>
                    }
                    else
                    {
                        <td>Neuvedeno</td>
                    }                       
        </tr>
    }  
}
    </tbody>
</table>
